
.k-login-form { background-color:#fff; padding: 260px 30px 30px 30px; background-image: url('../images/logo_panel.png'); background-size: auto 200px; background-position: center 30px; background-repeat: no-repeat;}
.k-registration{ display: none; }
