/* Cascading Bullshit by Manu Lechat www.e-lechat.com */

:root {
  --content_m: 1200px;

}

/*
            /^^                                    /^^
          /^                                       /^^
        /^/^ /^        /^^         /^^ /^^       /^/^ /^      /^^^^
          /^^        /^^  /^^       /^^  /^^       /^^       /^^
          /^^       /^^    /^^      /^^  /^^       /^^         /^^^
          /^^        /^^  /^^       /^^  /^^       /^^           /^^
          /^^          /^^         /^^^  /^^        /^^      /^^ /^^
*/
@font-face {
 font-family: "Bold";
 src: url("../fonts/Sofia/SofiaProBold.otf") format('truetype')
}

 @font-face {
  font-family: "Regular";
  src: url("../fonts/Sofia/SofiaProRegular.otf") format('truetype')
}
 @font-face {
  font-family: "Light";
  src: url("../fonts/Sofia/SofiaProLight.otf") format('truetype')
}



/*

                                             /^^                     /^^
                                 /^          /^^                     /^^      /^
        /^^        /^^  /^^                  /^^        /^^          /^^             /^^ /^^          /^^          /^^^^
      /^^  /^^     /^^  /^^     /^^      /^^ /^^      /^   /^^       /^^     /^^      /^^  /^^      /^   /^^      /^^
     /^^   /^^     /^^  /^^     /^^     /^   /^^     /^^^^^ /^^      /^^     /^^      /^^  /^^     /^^^^^ /^^       /^^^
      /^^  /^^     /^^  /^^     /^^     /^   /^^     /^              /^^     /^^      /^^  /^^     /^                 /^^
          /^^        /^^/^^     /^^      /^^ /^^       /^^^^        /^^^     /^^     /^^^  /^^       /^^^^        /^^ /^^
       /^^


*/

/*basics */
html{ margin: 0; padding: 0; height: 100%; width:100%;  top:0; left: 0; }
body{ margin: 0; padding: 0; width:100%; overflow-x: hidden; font-family: "Regular"; top:0; left: 0; font-size:13px; font-weight:300; letter-spacing: 0.03em; line-height:1.5; color:#A7A7A7; text-align:left; background-color:#fff}
body.modalOpen { overflow: hidden;   height: 100vh; }
body.no_scroll { overflow: hidden;   }
img{ max-width: 100%; height: auto; }
ul{ margin: 0; display: block; text-align: left; padding: 0; }
li{ margin: 0em 0;  list-style: none; min-height:1.6em; padding-left: 0px; background-repeat:  no-repeat; background-size: 16px; background-position: 0 3px; padding-bottom: 0px; }
ul.small_list{margin:0 0 15px}
ul.small_list li{background: none;list-style: disc;padding: 0px;margin:0;margin-left: 15px;}
::selection {  background:rgba(0,0,0,0.00) }
*:focus {   outline:  none; }

/* font-style */
h1{ margin: 0; font-size: 22px; margin-bottom: 0.5em; line-height: 1.1em; font-weight: lighter; font-family: "Regular";  color: #000; width: auto; padding: 0; margin: 0; margin-block-start: 0em;  margin-block-end: 0em}
h2{ margin: 0; font-size: 48px;  margin-bottom: 0.8em; line-height: 1.1em; font-family: "Bold"; width: 100%; font-weight: lighter!important; color: black; }
h3, h4, h5{ margin: 0; font-size: 23px; font-family: "Bold"; margin: 0em;  line-height: 1.15em; width: 100%; font-weight: lighter!important; }
h4{  font-family: "Regular";  color:#000;font-size: 16px; margin: 0 0 1em 0; }
p{  font-family: "Light"; font-weight: lighter; margin:1em 0 0 0; position: relative; font-size: 14px;  line-height: 1.5em;  }
a{  transition:all .3s; text-align: left; text-decoration: none;color: #000;  }
a:hover{ cursor: pointer;  color:#000; }
a:hover{  }
.bold{ font-family: "Bold"; }
p .min{ position: relative; margin-left: 30px; font-size: 16px;  font-family: "Regular";   }
p .min::before { background: black; content: '';display: inline-block; position: absolute; width: 20px; top: 8px; height: 1px; left: -30px; }
p .colored{ color: black; }
.surtitre{ font-family: "Bold"; color:#000; margin-bottom: 0.2em;  font-size: 12px; text-transform: uppercase;}
.ptititre{   color: #000; font-size: 22px; font-family: "Bold";   padding-top: 10px; }


/* grid */
header, footer,  main{ width: 100%; display: block; position: relative;}
section{ padding: 120px 0; width: 100%; display: block; box-sizing: border-box; position: relative; overflow-x: hidden;  }
.row{ transition:opacity 1s; display: table; text-align: center; position: relative; max-width: 100%; width: 1140px; margin: 40px auto;  padding: 0 }
.display_size{width: 100vw; height: 100vh}
div, article{ display: block; width: auto; box-sizing: border-box; position: relative; top: 0; left: 0;}
.center{ text-align: center;}
.wrapper{  width: 100%; max-width: 1100px;  margin: 0 auto; }
.col_left{ width: 48%; float: left; }
.col_right{ width: 48%; float: right; }
.col_untiers{ width: 33.33%; float: left; }
.encart{ margin: 30px; color: #000; line-height: 1.23em; font-size: 18px; font-family: "Bold"; padding-top: 10px; }
.encart::before { background: black; content: '';display: inline-block;position: absolute; width: 2px; height: 100%; left: -30px; }

.biggerIsBetter{  font-size: 72px; }
.floaright{ float: right; }

.mute_unmute_container{  position: fixed; top: 100vh;  left: 100vw; transform: translate(-200%, -200%);width: 3vh; height: 3vh; z-index:99  }
.social_container{ opacity: 1;  position: fixed; top:3vh; right:2vw; width:3vw; height: 6vw;  display: block;  text-align: right; z-index: 99  }
.svg_icon{ width: 2.8vh; height: 2.8vh;  cursor: pointer; }
.svg_icon:hover{  transition: transform .2s ease-in -.1s; transform : scale(1.2);  }


/*

              /^
/^^  /^^
/^^  /^^     /^^
/^^  /^^     /^^
/^^  /^^     /^^
  /^^/^^     /^^

*/

/* LAYOUT */

.viewport_container{  width: 100vw; height: 100vh; overflow: hidden; position: fixed; top: 0; left: 0;   }
.borders_container{ z-index: 1999; }
.open_container{ z-index: 2000;  }

/* ZONE OPEN */

.open_container .volet_haut{ top: 0;  z-index: 999;  width: 100vw; height: 50vh; position: absolute;  background: #A09897; z-index: 100; }
.open_container .volet_bas{ top: 50vh;  z-index: 999;  width: 100vw; height: 50vh; position: absolute;  background: #A09897; z-index: 100; }
.open_container .ligne{  z-index: 1000; animation:  .3s  anim_open_ligne cubic-bezier(.92,.01,.43,.99)0s 1 normal forwards; top: 50vh; width: 0; height: 1px; background: #EDE6E0; position: absolute; }
.open_container.open_now .volet_haut{  animation:  .3s  anim_open_top cubic-bezier(.92,.01,.43,.99)0s 1 normal forwards;}
.open_container.open_now .volet_bas{  animation: anim_open_bottom  .3s cubic-bezier(.92,.01,.43,.99) 0s 1 normal forwards;}
.open_container.open_now  .ligne{ display: none; }


.header{ z-index: 10; top: 0; position: fixed; height: 80px; left: 0; box-shadow: 0px 0px 60px rgba(0,0,0,0.2);  background: white; }
.header .wrapper{ height: 100%; }
.header .logo{  letter-spacing: 0.1em;  transform: translateY(-50%); position: absolute; top: 50%; left: 0; }
.header .contact{ transform: translateY(-50%); width: auto; position: relative; top: 50%; float: right; margin: 0 10px; }

a.soulignefx{  width: auto; display: inline-block; }
a.soulignefx::before { content: ''; display: block;; position: absolute;  bottom: -2px;  left: 0;  width: 100%;  height: 1px;  background: rgba(0,0,0,1);  transform: scaleX(0);  transform-origin: right;  transition: transform .2s ease-out; }
a.soulignefx:hover::before {  transform: scaleX(1);  transform-origin: left; }


.intro { overflow:  hidden; margin-top: 100px; padding: 80px 0;  z-index: 2;  }
/* .intro .wrapper{ z-index: 2; position: absolute; top: 50%; left: 50%; transform:translateX(-50%) translateY(-50%);   } */
.intro .wrapper{ z-index: 2;  }
.intro .img_container{ width: 200px; float: left; margin-right: 80px;  }
.intro .intro_container{ width: 400px; float: left; }
.intro .intro_container h2{ color: #000; margin-top: 20px; }
.intro .encart{ float: right;}
.intro .canvas_container{  padding: 0; overflow: hidden; z-index: 1!important; background: white; width: 100%; height: 100%; position: absolute; top: 0; }
.presentation p .min{ color: #000; font-size: 13px; }


.presentation{  z-index: 2; box-shadow: 0px 0px 60px rgba(0,0,0,0.2); background: rgba(0,0,0,0.03); padding: 120px 0}
.presentation .workflow{ height: 600px; position: absolute; left: 50%; transform: translateX(-50%);}
.presentation .col_left{ padding-right: 135px; }
.presentation .contact{ margin-top: 40px; }
.presentation article{ width: 360px; float: right; margin-top: 60px;}
.presentation .ptititre{ font-size: 16px;  font-family: "Regular"; padding: 0 }
.presentation .surtitre{ font-size: 12px;  font-family: "Regular";  }

.demarche{ padding: 120px 0}

.apropos{ background: rgba(0,0,0,0.03); padding: 120px 0}
.apropos article{ padding-right: 40px; margin-bottom: 40px; display: block; }
.apropos article p{ margin-bottom: 20px; }


/* patchwork_container */
.patchwork{ display: none; }
.patchwork_container{ width: 100%; margin: 120px 0; overflow-x: scroll; overflow-y: hidden; height: 460px; border: 3px solid red;  }
.patchwork_wrapper{  height: 100%; width: auto;  }
.patchwork_container img{ width: 180px; height: 100px; object-fit: cover; float: left; margin:10px;  }
.patchwork_container .swiper-slide{ height: 100px;  width: 180px; float: left; margin: 2px;    }

/* refs */

.anchor{ position: absolute; transform: translateY(-120px; );}

.projects_item{ }
.projects_item.active{  }
.realisations { padding: 120px 0; background: #fff;  z-index: 2; overflow: hidden; }
.realisations .encart_entete{ position: relative;  clear: both; display: block; margin-bottom: 20px; }
.realisations .entete_projects_item{ text-align: center; }
.realisations .item_container{  width:100%;  margin: 60px auto;   }
.realisations .slide_realisations{ width: 100%; height: auto; }
.realisations .bg_realisations{  width: 100%; background:#fff;  height: 360px; position: absolute; top: auto; bottom:50%;}
.realisations .swiper-container{  }
.realisations .swiper-slide{ height: 100%; overflow: hidden; }
.realisations .projects_item{ margin: 120px 0 0 0}

/* video */
.realisations .video_container{ display: none; opacity: 0;  transition: all .3s .3s ease-out;  z-index: 11;  width: 100%; height: 100%; position: absolute; }
.realisations .video_container video{ position: absolute; width: 100%;  height: 100%;  object-fit: cover; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.realisations .swiper-slide-active .video_container{ opacity: 1; display: block; transition: all .3s .3s ease-out; }

/* diaporama img */
.realisations  .indic_swipe{ display: none; }
.realisations  .screen img{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; margin: 0px;   }
.realisations  .screen img{ opacity: 0 }
.realisations  .screen .img_1 { z-index: 1; display: block; position: relative;  opacity: 1 }
.realisations  .screen .img_2 { z-index: 2;  animation: fadeInDiaporama 12s ease-in 2s infinite normal forwards;   }
.realisations  .screen .img_3 { z-index: 3;  animation: fadeInDiaporama 12s ease-in 4s infinite normal forwards;   }
.realisations  .screen .img_4 { z-index: 4;  animation: fadeInDiaporama 12s ease-in 6s infinite normal forwards;   }
.realisations  .screen .img_5 { z-index: 5;  animation: fadeInDiaporama 12s ease-in 8s infinite normal forwards;   }
.realisations  .screen .img_6 { z-index: 6;  animation: fadeInDiaporama 12s ease-in 10s infinite normal forwards;   }

.realisations  .ref_screen{ left: 50%; transform: translateX(-50%);position: absolute;   }
.realisations  .ref_screen { background-repeat: no-repeat;  background-image: url('/assets/images/bg_imac.png'); margin: 0 auto; background-size: 100% auto;  width: 720px; height: 640px;   }
.realisations  .ref_screen .screen { border: 20px solid #000; left: 0; width: 100%; margin: 20px auto; position: absolute; top: 13px; height: 413px; overflow: hidden;  }
.realisations  .ref_screen .screen .img_container{ position: absolute; width: 100%; height: 100%; }

.realisations  .ref_screen.ipad{  background-image: url('/assets/images/bg_ipad.png'); }
.realisations  .ref_screen.ipad .screen { border: 1px solid rgba(0,0,0,0); left: 68px;  width: 588px;  height: 442px;  top: 14px;}
.realisations  .ref_screen.iphone{  background-image: url('/assets/images/bg_iphone.png'); }
.realisations  .ref_screen.iphone .screen { border:1px solid blue; transform: rotate3d(45deg, 45deg, 45deg); }
.realisations  .ref_screen.ipad{  }

.realisations .swiper-slide-active  .txt_categorie{ opacity: 1}

.realisations .ref_txt{ min-height: 120px; position: relative;; margin-top: 640px; left: 160px;  width: 800px;}
.realisations .ref_txt.ipad{ margin-top: 590px;}
.realisations .ref_txt .tags{ transition: all 1s .6s; opacity: 0; position: absolute; right:  0; top: 10px; padding: 0; width: 30%; text-align: left; left: auto; font-family: "Regular";  color:#000;font-size: 12px; margin: 0 0 1em 0; }
.realisations .ref_txt .tags ul{ margin-top: 1em; margin-bottom: .8em; }

.realisations .ref_txt .tag{ margin: : 0.8em 0 0.8em 0 }


.realisations .ref_txt .surtitre{ opacity: 0.2; padding-bottom: 0.3em; }
.realisations .ref_txt .ptititre{ max-width:  60%; margin: 0 0 0.3em 0; padding: 0; opacity: 0; transition: all 1s .6s; }
.realisations .ref_txt .url{ position: relative; opacity: 0; transition: all 1s .6s; }
.realisations .ref_txt .description{ width: 50%; margin: 0 0 0.3em 0; opacity: 0; transition: all 1s .7s;  }
.realisations .swiper-slide-active   .ref_txt .ptititre{ opacity: 1;  }
.realisations .swiper-slide-active   .ref_txt .description{ opacity:1;  }
.realisations .swiper-slide-active   .ref_txt .url{ opacity:1;  }
.realisations .swiper-slide-active   .ref_txt .tags{ opacity:1;  }

.realisations .next_prev_container { z-index: 111; position: absolute; width: 100px; top: 50%; background: white; padding:20px; transform:  translateY(-50%); left: auto; right: 60px}
.realisations .bt_prev{ padding: 10px 0; position: relative; width: 100%; text-align: center;  }
.realisations .bt_next { padding: 10px 0; position: relative; width: 100%; text-align: center;  }
.realisations .pagination { position: relative;  width: 100%; text-align: center; padding: 10px 0;border-bottom: 1px solid black;  border-top: 1px solid black }
.realisations .bt_prev:hover{ cursor: pointer; }
.realisations .bt_next:hover{ cursor: pointer; }

.swiper_realisations_thumbs .swiper-slide{ width: 160px; height: 120px; }
.swiper_realisations_thumbs img{ width: 120px; height: 120px; object-fit: cover; margin: 0 auto;}

.realisations_item{ margin:120px 0; }

/* SWIPER BANNERS */
.section_banners { background: #141517;margin-bottom: 300px; padding: 100px 0; }
.zone_banners {   }
.zone_banners .swiper-container {    }
.zone_banners .gallery-top {   height: 740px!important;   width: 580px!important; max-width: 100%;   display: block;   }
.zone_banners .gallery-top .swiper-slide { height: 600px!important;  width: 543px!important;   }
.zone_banners .gallery-top .swiper-slide iframe{ position: absolute; top: 30px; left: 50%; margin-left: -150px;  width: 300px!important; height: 600px!important;  overflow: hidden; border: 32px solid #000; box-sizing: content-box; border-radius: 6px;  display: block;  box-shadow: 0px 30px 40px -20px #000;   }
.zone_banners .gallery-top .swiper-button-prev{ left: 0px;  }
.zone_banners .gallery-top .swiper-button-next{ right: 0px;  }
.zone_banners .gallery-thumbs { max-width: 100%; height: 110px; width: 900px; margin: auto; }
.zone_banners  .gallery-thumbs .swiper-slide {    width: 100px;    height: auto;   opacity: 0.4;  }
.zone_banners  .gallery-thumbs .swiper-slide-active {     opacity: 1;  }
.banniere_container{ background: #111; display: inline-block; height: auto; width: 100px; margin: 0; padding: 10px; overflow: hidden; }
.banniere_container img{ width: 100% }
.banniere_container h4{ letter-spacing: 0.2em; text-decoration: none; font-size: 12px; background: none; opacity: 0.6em; color: #fff; text-transform: uppercase; font-size: 9px; text-align: center; padding: 10px 0; max-width: 100%; overflow-x: hidden; }




/* maintenance */

.maintenance{ width: 100vw; display: block; height: 100vh; background: black; }
.maintenance .content{ position: absolute; text-align: center;  height: auto; top: 50%; left:50%;  transform: translate3d(-50%, -50%, 0); }
.maintenance .content h1{ font-size: 5vw;  margin-bottom: 0.2em; }


/*

  /^^                      /^^            /^^                      /^^         /^^
  /^^                      /^^            /^^                      /^^         /^^
/^/^ /^        /^^         /^^            /^^        /^^         /^/^ /^     /^/^ /^        /^^
  /^^        /^^  /^^      /^^ /^^        /^^      /^   /^^        /^^         /^^        /^   /^^
  /^^       /^^   /^^      /^^   /^^      /^^     /^^^^^ /^^       /^^         /^^       /^^^^^ /^^
  /^^       /^^   /^^      /^^   /^^      /^^     /^               /^^         /^^       /^
   /^^        /^^ /^^^     /^^ /^^       /^^^       /^^^^           /^^         /^^        /^^^^

*/



@media screen and (max-aspect-ratio: 4/3) {

}

@media (max-width: 1450px){

}


/*
                                       /^^                    /^^
                                       /^^            /^      /^^
      /^^^ /^^ /^^         /^^         /^^                    /^^        /^^
       /^^  /^  /^^      /^^  /^^      /^^ /^^       /^^      /^^      /^   /^^
       /^^  /^  /^^     /^^    /^^     /^^   /^^     /^^      /^^     /^^^^^ /^^
       /^^  /^  /^^      /^^  /^^      /^^   /^^     /^^      /^^     /^
      /^^^  /^  /^^        /^^         /^^ /^^       /^^     /^^^       /^^^^

*/

@media (max-width: 640px){

  .realisations  .indic_swipe{ z-index: 1111; transform: translate(-50%, -50%); position: absolute; top: 50%; left: 50%; width: 60px; height: 40px; border:2px solid red; }
  .active .realisations  .indic_swipe{ animation: anim_indic_swipe 2s ease-in 2s infinite normal forwards; }
  .open_container .volet_bas{ top: 50%; height: 50%}
  h1{ font-size: 16px; }
  .wrapper{ width: 90%;  clear: both; }
  .header .logo{  }
  .header .contact { clear: both; top: 40%}
  p{ font-size: 12px; }
  .col_left{ width: 100%; }
  .col_right{ width: 100%; float: left; }
  .col_untiers{ width: 100%;  }
  h2 { margin: 0; font-size: 9vw; text-align: left; }
  .entete_projects_item h2 { margin-bottom: 0.6em; }
  .realisations .txt_wrapper{ float: left; width: 100% }
  .presentation { padding: 120px 0 0 0; }
  .presentation .col_left{ padding: 0; }
  .presentation .col_right{ display: none; }
  .presentation .workflow{ display: none; }
  .realisations .encart_entete{ display: none; }
  .intro .img_container{ opacity:0.8;  position: absolute; transform: translateY(-40%);width: 20vw; }
  .intro .intro_container{ width: 76%; margin-left: 16%}
  .encart{ font-size: 16px; }
  .intro .encart{ float: left;}
.presentation article{ width: 100%; margin-top: 20px; }
  .realisations .ref_txt .ptititre{  max-width: 100%; }
  .realisations .ref_txt .description{  width: 100%; }
  .realisations .bt_prev{ display: none; }
  .realisations .bt_next{ display: none; }
  .realisations .titre{ margin-bottom: 0.8em;}
  .realisations .pagination{ border: none; position: relative; padding: 0; background: none; float: right; text-align: right;}
  .realisations .next_prev_container{ background: none; transform: translateY(15px);; top: 60vw; right: 0; left: auto; padding: 0px; position: absolute; float: right;}
  .realisations .ref_txt .tags{ margin-top: 1em; top:auto;  width: 100%; position: relative;  }
  .realisations .ref_txt .tags li{ display: inline-block; padding-right: 0.5em; padding-top: 0.3em;  position: relative;float: left; padding-left: 0.8em;  }
  .realisations .ref_txt .tags li:before{ content:""; top: 1em; width: 0.3em; position: absolute; border-bottom: 1px solid black; left: 0px;  }
  .realisations .ref_screen{ margin-bottom: 15px; left: 0!important; top: 0!important; transform: translateX(0); position: relative; width: 90vw; height: 60vw; background: none!important; }

  .realisations .ref_txt .url{ display: none; }
  .realisations .ref_txt .surtitre{ display: none; }
  .realisations .ref_screen .screen{ height: 60vw!important; margin: 0!important; left: 0!important; top: 0!important; border: 3vw solid black!important; }
  .realisations .ref_screen.ipad .screen{  width:90vw; height: 60vw!important; }
  .realisations .ref_txt{ padding-top: 15px; min-height: auto; left: 0; margin-top:0!important;   width: 90vw; }
  .realisations .ref_txt.ipad{}
    .realisations .projects_item{ margin-top: 80px; }
}


/*
          /^^
        /^
      /^/^ /^     /^^   /^^
        /^^         /^ /^^
        /^^          /^
        /^^        /^  /^^
        /^^       /^^   /^^
*/




/*

/^^                                           /^^
/^^                                         /^
/^^  /^^        /^^         /^^   /^^     /^/^ /^     /^ /^^^        /^^         /^^^ /^^ /^^         /^^          /^^^^
/^^ /^^       /^   /^^       /^^ /^^        /^^        /^^         /^^  /^^       /^^  /^  /^^      /^   /^^      /^^
/^/^^        /^^^^^ /^^        /^^^         /^^        /^^        /^^   /^^       /^^  /^  /^^     /^^^^^ /^^       /^^^
/^^ /^^      /^                 /^^         /^^        /^^        /^^   /^^       /^^  /^  /^^     /^                 /^^
/^^  /^^       /^^^^           /^^          /^^       /^^^          /^^ /^^^     /^^^  /^  /^^       /^^^^        /^^ /^^
                             /^^
*/

@keyframes indic_swipe{
    to { opacity: 0; }
}
@keyframes fadeOut{
    to { opacity: 0; }
}

@keyframes fadeIn{
    to { opacity: 1; }
}


@keyframes anim_displayNone{
    0% { display: block; }
    100% { display: none; }
}
@keyframes anim_fadeIn{
    0% {  opacity:  0; }
    100% { opacity: 1; }
}
@keyframes anim_fadeOut{
    0% {  opacity:  1; }
    100% { opacity: 0; }
}
@keyframes anim_open_ligne{
    0% { width: 0; background: white; opacity: 1; transform: translate3d(50vw, 0, 0)  }
    100% { width: 100vw;background: white;  opacity: 0.2; transform: translate3d(0, 0, 0); }
}
@keyframes anim_open_top{
    0% { transform: translate3d(0, 0, 0)  }
    100% { transform: translate3d(0, -50vh, 0); }
}
@keyframes anim_open_bottom{
    0% { transform: translate3d(0, 0, 0)  }
    100% { transform: translate3d(0, 50vh, 0); }
}



@keyframes anim_loader{
  0% {  transform: translate3d(-50%, -50%,0); opacity: 0 }
  30% {  transform: translate3d(-50%, -50%,0); opacity: 1 }
  70% {  transform: translate3d(-50%, -50%,0); opacity: 1 }
  100% {  transform: translate3d(-50%, -50%,0); opacity: 0 }
}
@keyframes anim_screen_loader{
  to{ transform: translateY(-120vh);}
}

@keyframes anim_loader_video{
  0% {  width: 0 }
  100% { width: 100% }
}

@keyframes fadeInDiaporama{
    0% {  opacity:  0; }
    10% { opacity: 1; }
    40% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

/*


     /^^                    /^^
     /^^                    /^^
     /^^        /^^         /^^           /^^  /^^        /^^
 /^^ /^^      /^   /^^      /^^ /^^       /^^  /^^      /^^  /^^
/^   /^^     /^^^^^ /^^     /^^   /^^     /^^  /^^     /^^   /^^
/^   /^^     /^             /^^   /^^     /^^  /^^      /^^  /^^
 /^^ /^^       /^^^^        /^^ /^^         /^^/^^          /^^


 */

.debugmode   div, .debugmode header, .debugmode footer, .debugmode section{ border-bottom: 1px solid cyan }

.debugmode    h1,
.debugmode    h2,
.debugmode    h3,
.debugmode    p,
.debugmode    ul,
.debugmode    li,
.debugmode    a{ border: 1px solid rgba(0,0,0,0.2) }
